#squares{
    z-index: 1;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
   
}   

#square-0{
    height: 100px;
    width: 100px;
    background-color: red;
    
}
#square-1{
    height: 100px;
    width: 100px;
    background-color: blue;
    
}
#square-2{
    height: 100px;
    width: 100px;
    background-color:green;
    z-index: 2;
    
}
#square-3{
    height: 100px;
    width: 100px;
    background-color:orange;
    margin-right: 30%;
    z-index: 2; 
}
.squares{
    flex-wrap: wrap;
    align-items: center;
}

img{
    max-width: 45%;
    max-height: 40%;
    z-index: -1;
}


#start{
    height: 60px;
    width:70px;
    background-color: lightyellow;
}

#level {
    background: #330000;
    color: red;
    font-size: 20px;
    height: 30px;
    width: 50px;
    text-align: center;
  }