#square-0{
    height: 100px;
    width: 100px;
    background-color: red;
}
#square-1{
    height: 100px;
    width: 100px;
    background-color: blue;
}
#square-2{
    height: 100px;
    width: 100px;
    background-color:green;
}
#square-3{
    height: 100px;
    width: 100px;
    background-color:orange;
}


img{
    max-width: 40%;
    max-height: 40%;
}
