#square-0{
    height: 100px;
    width: 100px;
    background-color: red;
}
#square-1{
    height: 100px;
    width: 100px;
    background-color: blue;
}
#square-2{
    height: 100px;
    width: 100px;
    background-color:green;
}
#square-3{
    height: 100px;
    width: 100px;
    background-color:orange;
}


img{
    max-width: 40%;
    max-height: 40%;
    position: relative;
    left: 30%;
    z-index: -1;
}

 #squares{
     display: inline-flex;
     position: relative;
     z-index: 2;
 }   
 #square-2{
    margin-top: 36%;
   display: inline-flex;
 }

#square-3{
    margin-top: 36%;
    margin-right: 30%;
}
.square{
    margin-top: 29%;
}
